/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nunito:wght@400;900&display=swap');

*,
*:before,
*:after {
   box-sizing: border-box;
}

html,
body {
   min-width: 320px;
}

h1 {
   font-family: 'Nunito', sans-serif;
   font-size: 2em;
   font-weight: 900;
}

h2 {
   font-family: 'Lato', sans-serif;
   /* background: crimson; */
   background: #f65421ad;
   padding: 1em;
   color: white;
   font-weight: bold;
    font-size: 1.2em;
    text-align: center;
}


body {
   padding: 3em;
}

.active {
   text-decoration: none;
}

a.active:visited {
   color: black;
}

img {
   max-width: 100%;
   max-height: 100%;
}

.products-list {
   list-style-type: none;
   margin: 0;
   padding: 0;

    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;

}

.products-list-item {
   display: block;
}

.products-list-item a {
   display: inline-block;
   width: 100%;
   max-width: 500px;
}

.product-card{
    border-radius: 50px;
    background: #ffffff;
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
    margin: 2em;
    overflow: hidden;
    /* padding: 2em; */
    max-width: 504px;
}

.product-card img {
   display: block;
}

.product-card-shirt {
   position: relative;
}

.product-card-shirt-art {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
   width: 32.5%;
   height: 45%;
}

.product-card-shirt-art img {
   width: 100%;
   height: 100%;
   object-fit: contain;
   object-position: center top;
}

.item.columns {
    border-radius: 50px;
    background: #ffffff;
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
    margin: 2em;
    overflow: hidden;
    padding: 1em;
}

/* a{
	color: cornflowerblue;
	:hover {
		color: #ed1212;
		cursor: pointer;
	}
} */

.notification.is-primary.home{
    transition: box-shadow .3s;
    border-radius: 50px;
    background: #232121;
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
    margin: 2em;
    overflow: hidden;
    padding: 3em;
    font-size: 1.3em;
}

.notification.is-primary.home:hover {
    box-shadow: 0 0 111px rgba(33,33,33,.2);
    box-shadow: 0 0 111px rgb(249 139 104)
  }

.container.is-fluid.home{
    border-radius: 50px;
    background: #ebe7e7;
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
    /* margin: 2em; */
    overflow: hidden;
    padding: 1em;
    margin: 5em 0;
}

body.has-navbar-fixed-top, html.has-navbar-fixed-top {
    padding-top: 7.25rem;
}

.navbar{
    padding: 2em 4em 2em 4em;
}

.columns{
    margin-top: 3em;
}

.column{
    align-self: center;
}

.cart-form{
    padding: 2em;
}

.field.is-grouped {
    display: flex;
    justify-content: space-evenly;
}

.not-found{
    text-align: center;
}

#Capa_1{
    margin: 1em;
}

.btn-to-cart{
    margin: 1em;
    font-weight: bold;
}
.navbar.is-fixed-top{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}



.navbar-item p:hover {
        background-color: cornflowerblue;
      }

.column.mission{align-self: auto;}

h1.ossie{
    border-radius: 50px;
    background: #ffffff;
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
    /* margin: 2em; */
    padding: 1em;
    background:papayawhip;
}

.cart-box p {
    text-transform: uppercase;
    border: solid;
    padding: 5px;
}
