/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nunito:wght@400;900&display=swap');

*,
*:before,
*:after {
   box-sizing: border-box;
}

html,
body {
   min-width: 320px;
}

h1 {
   font-family: 'Nunito', sans-serif;
   font-size: 1.5em;
   font-weight: 900;
}

h2 {
   font-family: 'Lato', sans-serif;
   background: #f65421ad;
   padding: .8em;
   color: white;
   font-weight: bold;
    text-align: center;
}


body {
   padding: 3em;
   font-size: .9em;
}

.active {
   text-decoration: none;
}

a.active:visited {
   color: black;
}

img {
   max-width: 100%;
   max-height: 100%;
}

.products-list {
   list-style-type: none;
   margin: 0;
   padding: 0;

    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;

}

.products-list-item {
   display: block;
}

.products-list-item a {
   display: inline-block;
   width: 100%;
   max-width: 300px;


}

.product-card{
    border-radius: 50px;
    background: #ffffff;
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
    margin: 2em;
    overflow: hidden;
    /* padding: 2em; */
    max-width: 504px;
    transition: box-shadow .08s linear,min-width .15s cubic-bezier(0.4,0.0,0.2,1);
}

.products-list-item div.product-card:hover{
    box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149);}

.product-card img {
   display: block;
}

.product-card-shirt {
   position: relative;
}

.product-card-shirt-art {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
   width: 32.5%;
   height: 45%;
}

.product-card-shirt-art img {
   width: 100%;
   height: 100%;
   object-fit: contain;
   object-position: center top;
}

.item.columns {
    border-radius: 50px;
    background: #ffffff;
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
    /* margin: 2em; */
    overflow: hidden;
    /* padding: 1em; */
    max-width: 500px;
    margin-bottom: 2em;
    margin-top: 2em;
}

.item-list{
    text-align: -webkit-center;
}

.item--details p.title{
    font-size: 1em;
}

.notification.is-primary.home{
    transition: box-shadow .1s;
    border-radius: 25px;
    background: #232121;
    margin: .8em;
    overflow: hidden;

}

.notification.is-primary.home:hover {
    box-shadow: 0 0 111px rgba(33,33,33,.2);
    box-shadow: 0 0 111px rgb(249 139 104)
  }

.container.is-fluid.home{
    border-radius: 35px;
    background: #ebe7e7;
    overflow: hidden;
    margin-bottom: 1em;
    padding: 0;

}

body.has-navbar-fixed-top, html.has-navbar-fixed-top {
    padding-top: 7.25rem;
}



.column{
    align-self: center;
    margin: 1em;
}


.field.is-grouped {
    display: flex;
    justify-content: space-evenly;

    margin-top: 2em;
    margin-bottom: 2em;

}

div.control button{
    box-shadow: -1px 4px 5px 2px rgb(10 10 10 / 29%);
    padding: 1.2rem 0.7rem;
    border: 2px #fff8f8e3 solid;
    border-radius: 30px;
    width: 110px;
    font-weight: bold;
    border-color: #d5d3d3b3;
}

div.control button:active{
border: inset;
}

.level-item.has-text-centered .summary.title{
    font-size:1rem;
    cursor: pointer;
}


.not-found{
    text-align: center;
}

#Capa_1{
    margin: 1em;
}

.btn-to-cart{
    margin: 1em;
    font-weight: bold;

}

.navbar.is-fixed-top{
    display: inline-flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1em .3em 1em .6em;
}



.navbar-item p:hover {
        background-color: cornflowerblue;
      }

.column.mission{align-self: auto;}

h1.ossie{
    border-radius: 50px;
    background: #ffffff;
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
    /* margin: 2em; */
    padding: 1.5em;
    background:papayawhip;
    font-size: 1.4em;
}

.cart-box p {
    text-transform: uppercase;
    border: solid;
    padding: 3px;
    font-size: 1em;
}

/* @media (min-width:440px) {
    .navbar{
        padding: 2em 1em 2em 1em;
    }

} */
