/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Nunito:wght@400;900&display=swap');

h1{
    font-family: 'Nunito', sans-serif;

}

body {
    padding: 1em;
}
/*
font-family: 'Lato', sans-serif;
font-family: 'Nunito', sans-serif; */
